nav {
  background-color: #2f3e46;
  padding: 1rem;
}

nav a {
  color: #ffffff;
  padding: 0.5rem;
  display: block;
}

main {
  max-width: 840px;
}

h1 {
  color: #2f3e46;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid #2f3e46;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid #2f3e46;
  padding: 1rem;
  background-color: #f1f7ee;
  color: #1d2d2f;
}

aside img {
  width: 200px;
  height: auto;
}

p {
  padding: 0;
}

footer {
  margin-top: 1rem;
  border-top: 1px solid #2f3e46;
  text-align: center;
}
